<!DOCTYPE HTML>
<html>
<!--
https://canvasjs.com/html5-javascript-dynamic-chart/
-->

<head>
	<script type="text/javascript">

	function httpGet(theUrl)
	{
		var xmlHttp = new XMLHttpRequest();
		xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
		xmlHttp.send( null );
		return xmlHttp.responseText;
	}

	function print_str(str){
		var ret;
		ret = str;
		return ret;
	}

	function returnTicker(currencyPair){
		var ret = 0;
		var url = "https://poloniex.com/public?command=returnTicker"
		var resp = httpGet(url);
		var obj = JSON.parse(resp);
		if(currencyPair == "USDT_XRP") {
			last = parseFloat(obj.USDT_XRP.last);
			baseVolume = parseFloat(obj.USDT_XRP.baseVolume);
		} else if(currencyPair == "USDT_XMR") {
			last = parseFloat(obj.USDT_XMR.last);
			baseVolume = parseFloat(obj.USDT_XMR.baseVolume);
		} else {
			last = 0;
			baseVolume = 0;
		}

		return [last, baseVolume];
	}

	function returnChartData(currencyPair, start, end, period){
//		var buf = "https://poloniex.com/public?command=returnChartData&currencyPair=";
		var ret = 0;
		var buf = "TEST";
		var url = buf.concat(currencyPair,"&start=",start,"&end=",end,"&period=",period);
		console.log(url);
		return ret;
	}

	window.onload = function () {
		var dps = []; // dataPoints
		var dps2 = [];
		var chart = new CanvasJS.Chart("chartContainer",{
			interactivityEnabled: true,
			title :{text: "TEST"},			
			data: [
			       {xValueType: "dateTime", type: "line", dataPoints: dps2},
				{xValueType: "dateTime", type: "line", dataPoints: dps }
				],
		});

		var xVal = 0;
		var yVal = 0;	
		var updateInterval = 10;
		var prev = 0;

		var dataLength = 5000; // number of dataPoints visible at any point

		var updateChart = function (count) {
			var d = new Date();
			var xVal = d.getTime();
			count = count || 1;
//			returnChartData("USDT_XRP", 11111111, 1111111, 300);
//			var ret = returnTicker("USDT_XRP");
			var USDT_XRP = yVal +  Math.round(5 + Math.random() *(-5-5));

//			var ret = returnTicker("USDT_XMR");
			var USDT_XMR = yVal = yVal +  Math.round(5 + Math.random() *(-5-5));

//			console.log("XRP: "+USDT_XRP+", XMR: "+USDT_XMR);
			console.log("dps.length: "+dps.length);

			dps.push({x: xVal, y: USDT_XRP,});
			dps2.push({x: xVal, y: USDT_XMR,});

			xVal++;

			if (dps.length > dataLength)
			{
				dps.shift();				
			}
			
			chart.render();		

		};

		// generates first set of dataPoints
		updateChart(dataLength); 

		// update chart after specified time. 
		setInterval(function(){updateChart()}, updateInterval); 

	}
	</script>
	<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
	<div id="chartContainer" style="height: 300px; width:100%;">
	</div>
</body>
</html>
